<!-- <link rel="stylesheet" href="/css/header.css"> -->
<div class="container">
    <h1 id="logo">
        Prediction
    </h1>
    
    <div class="menu">
        <ul>
            <li>
                <a href=""> Home</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <a href="">Gallery</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <% if(locals.user) {%>
                <li>
                    <a href=""><%= user.name%></a>
                </li>
                <li>
                    <a href="/users/sign-out">Sign out</a>
                </li>
             <%}else{%>
                 <li>
                     <a href="/users/sign-in">Sign In</a>
                 </li>
                 <li>
                     <a href="/users/sign-up">Sign Up</a>
                 </li>
                
                <%} %>
            
        </ul>
    </div>
</div>