<link rel="stylesheet" href="/css/header.css">
<div class="container">
    <h1>
        Header of the Page
    </h1>
    
    <div class="navbar">
        <ul>
            <li>
                <a href=""> Home</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <a href="">Gallery</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
        </ul>
    </div>
</div>