<script
  src="https://kit.fontawesome.com/b40c9e99dc.js"
  crossorigin="anonymous"
></script>
<div class="home-container">
  <div class="form-control">
    <% if(locals.user){%>
    <form action="" method="post">
      <input
        type="text"
        name="search_stock"
        placeholder="Search Stock"
        required
      />
      <i class="fas fa-search icon"></i>
    </form>

    <%} %>
    <div class="wrapper">
      <div class="img-area">
        <div class="inner-area">
          <img src="images/upload.jpg" alt="about-4" />
        </div>
      </div>
      <div class="name">Manoj Singh Rana</div>
      <div class="about-card">Designer & Developer</div>
      <div class="social-icons">
        <a href="#" class="fb"> <i class="fa fa-facebook-f"></i></a>
        <a href="#" class="twitter"> <i class="fa fa-twitter"></i></a>
        <a href="#" class="instagram"> <i class="fa fa-instagram"></i></a>
        <a href="#" class="linkedin"> <i class="fa fa-linkedin"></i></a>
      </div>
      <div class="buttons">
        <button>Message</button>
        <button>Following</button>
      </div>
      <div class="social-share">
        <div class="row">
          <i class="fa fa-heart"><span>10.3k</span></i>
        </div>
        <div class="row">
          <i class="fa fa-comment"> <span>8.3k</span></i>
        </div>
        <div class="row">
          <i class="fa fa-share"> <span>7.8k</span> </i>
        </div>
      </div>
    </div>
  </div>
</div>
