<h1>Sign In</h1>

<form action="/users/sign-in" method="post">
<label for="email">Email</label>
<input type="email" name="email" placeholder="Enter Email" required>
<label for="password">Password</label>
<input type="password" name="password" placeholder="Enter Password" required>
<button type="submit">Sign In</button>

</form>